.light-button {
    border: 1px solid black;
    /* box-sizing: border-box; */
    padding: 0.5em;
    width: 4em;
    height: 4em;
}

.light-on .light-button {
    background-color: transparent;
}

.light-off .light-button {
    background-color: rgba(0, 0, 0, 0.1)
}
