.graph .history-average {
    stroke: rgb(128, 128, 192);
    stroke-width: 1.25%;
}

.graph .history-target {
    stroke: rgb(128, 64, 192);
    stroke-width: 1.25%;
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.graph-context {
    position: relative;
    flex-grow: 1;
}

.graph .annotation-heating {
    fill: rgb(255, 128, 128);
}

.graph .annotation-cooling {
    fill: rgb(128, 192, 255);
}

.legend {
    display: flex;
    font-size: 0.7em;
    gap: 1.5em;
}

.legend-entry {
    flex: 10% 1 1;
    text-align: center;
    user-select: none;
}

.legend-entry.focused {
    background-color: rgba(192, 192, 240, 0.4);
}

.legend-entry.focused .legend-label {
    border-bottom-width: 2px;
}

.legend-label {
    border-bottom: 1px solid rgb(192, 192, 240);
}

.legend-label.label-target {
    border-bottom: 2px solid rgb(128, 64, 192);
}

.legend-label.label-average {
    border-bottom: 2px solid rgb(128, 128, 192);
}
