.graph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .history-average {
        stroke: rgb(128, 128, 192);
        stroke-width: 2.5px;
    }

    .history-target.masked {
        fill: rgba(192, 192, 240, 0.4);
    }

    .history-target.masked.focused {
        fill: rgba(128, 64, 192, 0.4);
    }

    .graph-context {
        position: relative;
        flex-grow: 1;
    }

    .annotation-heating {
        fill: rgb(255, 128, 128);
    }

    .annotation-cooling {
        fill: rgb(128, 192, 255);
    }

    .legend {
        display: flex;
        font-size: 0.7em;
        gap: 1.5em;

        .legend-entry {
            flex: 10% 1 1;
            text-align: center;
            user-select: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.focused {
                background-color: rgba(192, 192, 240, 0.4);

                .legend-label {
                    border-bottom-width: 2px;
                }
            }

            .legend-label {
                border-bottom: 1px solid rgb(192, 192, 240);

                &.label-target {
                    border-bottom: 2px solid rgba(128, 64, 192, 0.2);
                }

                &.label-average {
                    border-bottom: 2px solid rgb(128, 128, 192);
                }
            }
        }
    }
}