.tile-historygauge, .tile-tempsensorgauge {
    /* TODO Add regular tile padding instead of hard-coding it */
    padding: 0;
    width: 3.4em;
    height: 3.4em;
    flex-basis: 3.4em;
}

.gauge {
    height: 100%;
    width: 100%;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gauge .value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.gauge .background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.gauge svg {
    height: 100%;
    width: 100%;
}

.gauge svg path.history {
    stroke: rgba(192, 192, 240, 128);
    fill: rgba(240, 240, 255, 64);
}

.gauge .graph-label {
    font-size: 0.5em;
    position: absolute;
    z-index: 1;
}

.gauge .graph-label.max {
    top: 0;
}

.gauge .graph-label.min {
    bottom: 0;
}

.gauge .toggle-icon {
    position: absolute;
    width: 0.8em;
    right: 0.3em;
    bottom: -0.2em;
    background-color: transparent;
    padding: 0;
    border: none;
    z-index: 1;
}
