#room-system .tile-gauge, .tile-historygauge, .tile-percentgauge {
    height: 4em;
}

.gauge {
    height: 100%;
    width: 100%;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gauge .value-container {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 0.1em;
}

.gauge .value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.gauge .unit {
    font-size: x-small;
}

.gauge .background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.gauge svg {
    height: 100%;
    width: 100%;
}

.gauge svg path.history {
    stroke: rgba(192, 192, 240, 128);
    fill: rgba(240, 240, 255, 64);
}
