#room-system .tile-gauge, .tile-historygauge, .tile-percentgauge {
    height: 4em;
}

.gauge {
    height: 100%;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unit {
    vertical-align: super;
    font-size: x-small;
    padding: 0 0.1em;
}

.gauge-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

svg {
    height: 100%;
    width: 100%;
}

path.history {
    stroke: rgba(192, 192, 240, 128);
    fill: rgba(240, 240, 255, 64);
}
