svg {
    height: 100%;
    width: 100%;
}

svg path.history {
    stroke: rgb(192, 192, 240);
    stroke-opacity: 1;
    fill: none;
}

svg path.history.filled {
    fill: rgba(240, 240, 255, 64);
}

.graph-label {
    font-size: 0.5em;
    position: absolute;
    z-index: 1;
}

.graph-label.max {
    top: 0;
}

.graph-label.min {
    bottom: 0;
}

.gridline {
    stroke: black;
    stroke-opacity: 0.25;
    stroke-width: 0.1;
}
