.tile:has(.camera) {
    width: 24em;
    height: 13.5em;
    flex-basis: 24em;
}

.camera {
    height: 100%;
    position: relative;
}

.camera .toggle {
    position: absolute;
    height: 1em;
    width: 1em;
    right: 0.2em;
    top: 0.2em;
    background-color: transparent;
    padding: 0;
    border: none;
    z-index: 1;
}

.camera .toggle .icon {
    filter: drop-shadow(0 0 0.2em red);
}

.camera-snapshot {
    max-height: 100%;
    max-width: 100%;
}
