.title, .time {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#tiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#tiles > * {
    display: flex;
    flex-direction: column;
}

#room-cameras {
    max-width: 50em;
}

#room-irrigation {
    max-width: 30em;
}

/* TODO Automatically kill grid if there's only one element */
#section-system .section-contents,
#section-cameras .section-contents {
    display: flex;
    justify-content: center;
}

#room-system {
    max-width: 36em;
}

#room-system .room-contents {
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row;
    justify-items: center;
}

#room-system .tile {
    width: 5em;
    height: 4em;
}

#room-system .tile-historygauge, #room-system .tile-percentgauge, #room-system .tile-needlegauge {
    width: 5.4em;
    height: 4.4em;
}

.tile-sensor-top-download-device .gauge .value,
.tile-sensor-top-upload-device .gauge .value {
    font-size: 0.8em;
}

#section-climate .section-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#temperature-graph {
    height: 8em;
    width: 35em;
    position: relative;
    border: 1px solid black;
    padding: 0;
}

#room-air_quality .tile {
    width: 4em;
}
