.title, .time {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#tiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#tiles > * {
    display: flex;
    flex-direction: column;
}

#room-cameras {
    max-width: 75em;
}

#room-irrigation {
    max-width: 30em;
}

#section-system .tile {
    width: 5em;
    height: 4em;
}

#section-system .tile:has(.history-gauge), #section-system .tile:has(.needle-gauge) {
    width: 5.4em;
    height: 4.4em;
}

#section-climate .section-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#temperature-graph {
    height: 8em;
    width: 35em;
    position: relative;
    border: 1px solid black;
    padding: 0;
}

#room-air_quality .tile {
    width: 4em;
}
