.title,
.time {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

#tiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#room-cameras {
    max-width: 75em;
}

#section-controls {
    flex: 0 1 15%;

    .section-contents > * {
        flex-basis: 100%;
    }
}

#section-system {
    flex: 3 1 40%;

    .room-contents {
        display: flex;
        flex-wrap: wrap;

        .tile {
            width: 5em;
            height: 4em;

            &:has(.history-gauge),
            &:has(.needle-gauge) {
                width: 5.4em;
                height: 4.4em;
            }
        }
    }

    #room-dns {
        .tile {
            flex-grow: 2;

            &.tile-switch {
                flex-grow: 1;
            }
        }
    }
}

#section-climate {
    flex: 1 1 24em;

    .section-contents {
        display: flex;

        .room {
            flex-basis: 100%;

            max-width: unset;

            .room-contents {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;

                max-width: unset;

                * {
                    padding: 0;
                }

                .tile-climate {
                    flex: 2 1 4em;
                }

                .tile-temperature-graph {
                    flex: 6 0 15em;
                    height: 5em;
                }

                .gauges {
                    flex: 2 1 4em;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.2em;

                    .tile {
                        height: 3.4em;
                    }
                }
            }
        }
    }
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}